html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* width */
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	/* border-radius: 10px; */
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
	/* border-radius: 10px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	/* border-radius: 10px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
	/* border-radius: 10px; */
}

@keyframes navtext {
	0% {
		left: 0px;
		top: 56px;
	}
	100% {
		left: 0px;
		top: 0px;
	}
}

@keyframes navtextOut {
	0% {
		left: 0px;
		top: 0px;
	}
	100% {
		left: 0px;
		top: 56px;
	}
}

@keyframes navTextBegin {
	0% {
		left: 0px;
		top: 56px;
	}
	100% {
		left: 0px;
		top: 56px;
	}
}

.hideScrollBar::-webkit-scrollbar {
	width: 0px;
	height: 0px;
}

.overflowTypography {
	overflow-wrap: break-word;
	word-wrap: break-word;

	-ms-word-break: break-all;
	/* This is the dangerous one in WebKit, as it breaks things wherever */
	word-break: break-all;
	/* Instead use this non-standard one: */
	word-break: break-word;

	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}

.grecaptcha-badge {
	visibility: hidden;
}

.transparentBg {
	background-image: linear-gradient(45deg, #808080 27%, transparent 25%),
		linear-gradient(-45deg, #808080 27%, transparent 25%),
		linear-gradient(45deg, transparent 75%, #808080 75%),
		linear-gradient(-45deg, transparent 75%, #808080 75%);
	background-size: 20px 20px;
	background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}

.transparentCheckerboardPattern {
	background-image: /* tint image */ linear-gradient(
			to right,
			rgba(192, 192, 192, 0.75),
			rgba(192, 192, 192, 0.75)
		),
		/* checkered effect */ linear-gradient(to right, black 50%, white 50%),
		linear-gradient(to bottom, black 50%, white 50%);
	background-blend-mode: normal, difference, normal;
	background-size: 1em 1em;
}

.cursorPointer {
	cursor: pointer;
}

.unsplashHover:hover {
    filter: brightness(0.5) !important;
}

.unsplashButtonHover:hover {
    filter: brightness(1) !important;
}